* {
	list-style:none;
	margin:0;
	outline:none;
	padding:0;
	text-decoration:none;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
}

@font-face {
	font-family: 'Wizards';
	src: url('/assets/fonts/BoxingWizards-Regular.otf');
}
@font-face {
	font-family: 'FatFrank';
	src: url('/assets/fonts/FratFrank-Free.otf');
}
@font-face {
	font-family: 'Polybius';
	src: url('/assets/fonts/Polybius1981.ttf');
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Light'), local('ComicNeue-Light'),
        url('/assets/fonts/comic/ComicNeue-Light.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Italic'), local('ComicNeue-Italic'),
        url('/assets/fonts/comic/ComicNeue-Italic.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Bold'), local('ComicNeue-Bold'),
        url('/assets/fonts/comic/ComicNeue-Bold.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Bold Italic'), local('ComicNeue-BoldItalic'),
        url('/assets/fonts/comic/ComicNeue-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Light Italic'), local('ComicNeue-LightItalic'),
        url('/assets/fonts/comic/ComicNeue-LightItalic.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: local('Comic Neue Regular'), local('ComicNeue-Regular'),
        url('/assets/fonts/comic/ComicNeue-Regular.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue Angular';
    src: local('Comic Neue Angular Bold'), local('ComicNeueAngular-Bold'),
        url('/assets/fonts/comic/ComicNeueAngular-Bold.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeueAngular-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue Angular';
    src: local('Comic Neue Angular Italic'), local('ComicNeueAngular-Italic'),
        url('/assets/fonts/comic/ComicNeueAngular-Italic.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeueAngular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue Angular';
    src: local('Comic Neue Angular Bold Italic'), local('ComicNeueAngular-BoldItalic'),
        url('/assets/fonts/comic/ComicNeueAngular-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeueAngular-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue Angular';
    src: local('Comic Neue Angular Light Italic'), local('ComicNeueAngular-LightItalic'),
        url('/assets/fonts/comic/ComicNeueAngular-LightItalic.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeueAngular-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue Angular';
    src: local('Comic Neue Angular Regular'), local('ComicNeueAngular-Regular'),
        url('/assets/fonts/comic/ComicNeueAngular-Regular.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeueAngular-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue Angular';
    src: local('Comic Neue Angular Light'), local('ComicNeueAngular-Light'),
        url('/assets/fonts/comic/ComicNeueAngular-Light.woff2') format('woff2'),
        url('/assets/fonts/comic/ComicNeueAngular-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body{
	background-color:#071425;
	z-index: 0;
	font-family: 'Wizards'
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
					}

.dH1{
	font-family: 'Comic Neue';
	font-weight: regular;
	font-size: 32px;
	letter-spacing: 1px;
	/* color:#aaa9a7; */
}
.dH2{
	font-family: 'Comic Neue';
	font-weight: Regular;
	font-size: 24px;
	/* color:#aaa9a7; */
}


.ditherTop img{
	position:absolute;
	width:100%;
	top:0;
	z-index: 5;
}
.ditherBottom img{
	position:absolute;
	width:100%;
	bottom:0;
	z-index: 5;
}
.banner{
	position:absolute;
	/* margin:20px; */
	height:100px;
	width:100%;
	z-index: 20;
	margin:0;
}

	.board{
		width:100%;
		position:relative;
		padding: 30px 30px 0 30px;
	}
	.logo{
		position: absolute;
		top: 23px;
		left: 100px;
		z-index: 30;
	}

		.sides{
			display:flex;
			position:relative;
			justify-content: space-between;
			z-index: 22;
		}
		.boardXXLM{
			position: absolute;
		  left: 0;
		  right: 0;
		  margin-left: auto;
		  margin-right: auto;
			z-index: 21;
			margin-top:3px
		}

		.boardXXLL{
			position:absolute;
			left:0;
		}
		.boardXXLR{
			position:absolute;
			right:0;
			z-index: 1;
		}

		/* Temporary measure because mid is too long */
		.xxlMidBoard{
			/* background-color:pink; */
			width:40%;
			overflow:hidden;
			position: absolute;
		  left: 0;
		  right: 0;
		  margin-left: auto;
		  margin-right: auto;
			/* z-index: 21; */
			top:30px;
			height:150px;

		}

		.boardM{
			display:none;
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			z-index: 21;
			top:33px
		}
		.logoM{
			display: none
		}

		.bannerButtons{
			position: absolute;
			display: flex;
			top: 34px;
	    right: 72px;
	    z-index: 30;
		}
		.bannerButtons div{
			padding-left:5px
		}

			.redeem{
				cursor:pointer
			}
					.redeembck img:nth-child(1){
						display:block
					}

					.redeembck img:nth-child(2){
						display:none;
						top: -25px;
						position: relative;
					}

					.redeem:hover .redeembck img:nth-child(1){
						display:none
					}

					.redeem:hover .redeembck img:nth-child(2){
						display:block;
					}

			/* Not yet connected */

			.connect{
				cursor:pointer
			}

					.connect img:nth-child(1){
						display:block;

					}

					.connect img:nth-child(2){
						display:none;
						position: relative;
						margin-left: 1px;

					}

					.connect:hover img:nth-child(1){
						display:none
					}

					.connect:hover img:nth-child(2){
						display:block;
					}

					.connectTxt{
						position: absolute;
						display: block;
						bottom: 23px;
						font-family: 'Wizards';
						font-size: 30px;
						color: white;
						width: 162px;
						text-align: center;
						white-space: nowrap;
						right: 67px;
						top: 9px;
					}

					/* Connected */

					/* Connected background */

					.connected{
						display:none;
						cursor:pointer
					}
							.connected img:nth-child(1){
								display:block;
								width:175px;
							}

							.connected img:nth-child(2){
								display:none;
								position: relative;
							}

							.connected:hover img:nth-child(1){
								display:none
							}

							.connected:hover img:nth-child(2){
								display:block;
								margin-left: 1px;

							}

							.connected{
								/* padding-top: 3px;
								padding-left: 5px; */
							}

					/* Connected Text */


					.connectedTxt{
						position: absolute;
						display: block;
						top: 9px;
						/* bottom: 23px; */
						right: 71px;
						width: 153px;
						height: 33px;
						margin-left: 12px;
						font-family: 'Wizards';
						font-size: 30px;
						color: white;
						text-align: center;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}

					/* Redeem Text Hovers */

					.redeemTxt{
						position: absolute;
						display:block;
						bottom: 23px;
						font-family: 'Wizards';
						font-size: 28px;
						color: white;
						width: 230px;
						text-align: center;
						white-space: nowrap;
						right:  249px;
						/* background-color: antiquewhite; */
						top: 9px;
						display:flex;
					}
					.redeemTxtHover{
						position: absolute;
						display:none;
						bottom: 23px;
						font-family: 'Wizards';
						font-size: 28px;
						color: white;
						width: 230px;
						text-align: center;
						white-space: nowrap;
						right: 256px;
						/* background-color: antiquewhite; */
						top: 9px;
					}
					.redeem:hover .redeemTxt{
						display:none;
					}
					.redeem:hover .redeemTxtHover{
						display:block;
					}

					.redeemedNum{
						padding-left:10px
					}
					.fire{
						padding-top: 3px;
						padding-left: 5px;
					}

					.questions{
						padding-top: 3px;
						margin-left: 7px;
						cursor:pointer;
					}

				/* background elements */

				.background{
					position: fixed;
					width:100%;
					height:100%;
					overflow:hidden;
				}

				.cloudleft{
					position: absolute;
					bottom:0;
					left:0;
					z-index: 10;
				}
				.cloudright{
					position: absolute;
					bottom:0;
					right:0;
					z-index: 10;
					transition: margin .5s ease;
				}
				.bkrgdArrow{
					position: absolute;
					bottom:40px;
					right:0;
					z-index: 10
				}
				.brainyfrog{
					position: absolute;
					bottom:0px;
					right:170px;
					z-index: 9;
				}
				.smokey{
					position: absolute;
					bottom:40px;
					left:10px;
					z-index: 9;
				}

				.weedleft{

					position: absolute;
					left:-16px;
					top:40%;
					-webkit-animation: ease-in-out infinite;
					-webkit-animation-name: run1;
					-webkit-animation-duration:5s;
					transform-origin: bottom left;

				}

				.weedright{
					position: absolute;
					right:-16px;
					top:20%;
					z-index: 10;
					-webkit-animation: ease-in-out infinite;
					-webkit-animation-name: run2;
					-webkit-animation-duration:7s;
					transform-origin: bottom right;
				}

				@-webkit-keyframes run1 {
					0% {
						transform: rotate(1deg) translate(1px,0);
				  }
					50% {
						transform: rotate(-0deg) translate(-0px,0);
				  }
					100% {
						transform: rotate(1deg) translate(1px,0);
					}
				}
				@-webkit-keyframes run2 {
				  0% {
						transform: rotate(2deg) translate(1px,0);
				  }
					50% {
						transform: rotate(-0deg) translate(-0px,0);
				  }
					100% {
						transform: rotate(2deg) translate(1px,0);
					}

				}
				.skullybgrd{
					position: absolute;
					right:0;
					bottom:20%;
					z-index: 6
				}


				/* background bubbles */

				.bubbles{
				position: fixed;
				width:100%;
				height:100%;
				overflow:hidden;
				z-index: 30
				}

				.bubbles img:nth-child(1){
					position: absolute;
					bottom:0;
					left:20%;
  				animation: move 6s linear infinite;
				}
				.bubbles img:nth-child(2){
					position: absolute;
					bottom:0;
					left:22%;
					animation: move2 12s linear infinite;
				}
				.bubbles img:nth-child(3){
					position: absolute;
					bottom:0;
					left:23%;
					animation: move 10s linear infinite;
				}

				.bubbles img:nth-child(4){
					position: absolute;
					bottom:0;
					left:73%;
  				animation: move 7s linear infinite;
				}
				.bubbles img:nth-child(5){
					position: absolute;
					bottom:0;
					left:70%;
					animation: move2 11s linear infinite;
				}
				.bubbles img:nth-child(6){
					position: absolute;
					bottom:0;
					left:68%;
					animation: move 19s linear infinite;
				}

				@keyframes move {
				  0%{
				    transform: translateY(100%);
				  }
				  100% {
				    transform: translateY(-350%);
				  }
				}
				@keyframes move2 {
				  0%{
				    transform: translateY(100%);
				  }
				  100% {
				    transform: translateY(-420%);
				  }
				}
				/* skully */

				.skullyWrap{
					/* background-color:pink */
					position: absolute;
					display: flex;
					justify-content: center;
					flex-direction:column;
					right: 16%;
					bottom: 35%;
					z-index: 6;
					transform: rotate(11deg);

				}
				.skully{
					padding-right:18px
				}
				.skullytxt{
				}
				.skullyWraptxt{
					position: absolute;
					display:flex;
					justify-content: center;
			    bottom: 146px;
			    width: 196px;
				}

				/* Sock Modal Start */

				.modalWrap{
					display: flex;
			    flex-direction: column;
			    z-index: 30;
			    position: absolute;
			    left: 50%;
			    top: 0;
			    transform: translate(-50%, 0);
			    /* background-color: blue; */
			    margin-top: 160px;
					/* height: calc(100vh - 200px);
					width: calc(100vw - 727px);
					max-width: 524px; */
				}
				.paybadge{
					position:absolute;
					top: 24px;
					left: 4px;
				}
				.paygoo{
					position: absolute;
			    top: 20px;
			    right: 27px;
				}

					.fox{
						position:fixed;
						top: 250px;
						z-index: -1;
						transition: margin-left .5s ease;
						margin-left:22px;
					}

					.sockboard{
						height:100%;
					}

					.modalWrap:hover .fox{
						margin-left:-150px;
					}


					.sock{
						/* height:100%; */
						/* background-color:blue; */
					}

					.dddsock{
						position: absolute;
				    display: flex;
						justify-content: center;
						width: 100%;
						top: 5%;
					}

					.currentPrice{
						position: absolute;
						display:flex;
						flex-direction: column;
						justify-content: center;
						top: 477px;
						color: beige;
						right: 75px;
					}
					/* buy socks */

					.buysockz{
						/* position: absolute; */
						display: flex;
						bottom: -46px;
						justify-content: center;
						/* height: 20%; */
						width: 100%;
						cursor:pointer;
						height:88px;
						width:100%;

						/* background-color: beige; */
						bottom: 42px;
						position: relative;
					}

					.sockCountDown{
						position: absolute;
						top: 60px;
						right: 70px;
						color:beige
					}

							/* buy now hover */

							.buysockz img:nth-child(1){
								display:block
							}

							.buysockz img:nth-child(2){
								display: none;
								position: relative;
								height: 116.7%;
								width: 87.3%;
								bottom: -1px;
							}

							.buysockz:hover img:nth-child(1){
								display:none
							}

							.buysockz:hover img:nth-child(2){
								display:block;
							}

					/* Buying Modal */

					.buyModalWrap{
						position:fixed;
						display:none;
						height:100%;
						width:100%;
						z-index: 20;
						background-color:rgb(7, 20, 37,0.9);
					}

					.buyModal{
						display: flex;
						flex-direction: column;
						z-index: 30;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);

						transition: margin-top .3s ease;
						margin-top: 960px;
					}
					#buySockPanel{
						display:block;
					}
					#boughtSockPanel{
						display:none;
						position: relative;
						left: 1px;
					}

					.autoSize{
						max-width: 100%;
						height: auto;
					}

					.buycurrentPrice{
						position: absolute;
						display: flex;
						flex-direction: column;
						justify-content: center;
						top: 82px;
						color: beige;
						right: 100px;
					}
					.incrementWrap{
						position: absolute;
						display: block;
						flex-direction: column;
						justify-content: center;
						top: 524px;
						color: beige;
						right: 79px;
						font-family: "Comic Neue";
						cursor: pointer;
						width: 200px;
						height: 26px;
					}
					.incrementTxt div{
						width: 30px;
						text-align: center;
					}
					.plus .minus{
						font-family: "Wizards";
					}
					.incrementTxt{
						display: flex;
						justify-content: space-between;
						position: absolute;
						width: 100%;
						padding: 0 41px;
						font-size:32px;
					}
					.incrementCount{
						position: absolute;
						bottom: 38px;
						font-size: 24px;
						width: 100%;
						text-align: center;
						color: gray;
					}

					.shillopensea{
						display: none;
						justify-content: space-between;
						width: 100%;
						padding: 13px 103px;
						position: relative;
						top: -190px;
						color: grey;
						height: 88px;
					}

					.shillopensea div:hover{
						cursor:pointer;
						color:rgb(255, 255, 255,0.6)
					}

					.shillOstxt{
						position:absolute;
						top:22px;
						width:100%;
						font-family: 'Wizards';
						font-size:28px;
						width: 170px;
						text-align: center;
						color:white;
						cursor:pointer;
					}

					.complimentToad{
						position: absolute;
						right: 15%;
						bottom: 43%;
						display: flex;
						flex-direction: column;
						width: 180px;
					}
					.complimentToad img:nth-child(1){
						padding-left:30px;
					}

					.boughtBackground{
						display:none;
					}
					.buyingsockz{
						/* position: absolute; */
						display: flex;
						bottom: -46px;
						justify-content: center;
						/* height: 20%; */
						width: 100%;
						cursor:pointer;
						height:88px;
						width:100%;

						/* background-color: beige; */
						bottom: 188px;
						position: relative;
					}
					/* buy now hover */

					.buyingsockz img:nth-child(1){
						display:block
					}

					.buyingsockz img:nth-child(2){
						display:none;
						position: relative;
						height: 116.5%;
						width: 77.1%;
						bottom: -1px;


					}

					.buyingsockz:hover img:nth-child(1){
						display:none
					}

					.buyingsockz:hover img:nth-child(2){
						display:block;
					}


					/* font-size:15px; text-align: center;color:#aaa9a7;letter-spacing: 1px */

					.buybubbles{
						z-index: 30;
						display:none;
					}

					.buybubbles img:nth-child(1){
						position: absolute;
						bottom:0;
						left:6%;
						animation: move 20s linear infinite;
					}
					.buybubbles img:nth-child(2){
						position: absolute;
						bottom:0;
						left:15%;
						animation: move2 15s linear infinite;
					}
					.buybubbles img:nth-child(3){
						position: absolute;
						bottom:0;
						left:18%;
						animation: move 13s linear infinite;
					}

					.buybubbles img:nth-child(4){
						position: absolute;
						bottom:0;
						left:76%;
						animation: move 8s linear infinite;
					}
					.buybubbles img:nth-child(5){
						position: absolute;
						bottom:0;
						left:81%;
						animation: move2 13s linear infinite;
					}
					.buybubbles img:nth-child(6){
						position: absolute;
						bottom:0;
						left:72%;
						animation: move 22s linear infinite;
					}


					.buyeditInfoWrap{
						position: absolute;
						display: flex;
						flex-direction: column;
						justify-content: center;
						top: 607px;
						color: #E5E3E0;
						width: 100%;
					}

					.boughteditInfoWrap{
						position: absolute;
						display: none;
						flex-direction: column;
						justify-content: center;
						top: 591px;
						color: #E5E3E0;
						width: 100%;
					}
					.buyGreyBoard{
						position: absolute;
						top: 56px;
						z-index: -1;
						right: -35px;
						height: 97%;
					}
					/* Edition info */

					.editInfoWrap{
						position: absolute;
						display:flex;
						flex-direction: column;
						justify-content: center;
						top: 570px;
						color:#E5E3E0;
						padding: 0px 55px 0 80px;

					}
					.tempImg{
						width: 100%;
						padding: 0 20%;
						padding-bottom:5px;
					}
					.editInfo{
						font-family: 'Comic Neue';
						font-size: 20px;
						text-align: center;
						letter-spacing: 1px;
					}
					.moreinfo{

					}
					.editTitle{
						font-family: 'FatFrank';
						font-size:22px;
						text-align: center;
					}

					.learnmore{
						display: flex;
						justify-content: center;
						width:100%;

						font-family: 'Comic Neue';
						font-weight: bold;
						color:#aaa9a7;
						text-decoration: underline;

						cursor:pointer;

						padding-top: 1px;
					}

					/* Buy Sockz */

					.buyNowTxt{
						position:absolute;
						bottom: 23px;
						font-family: 'Wizards';
						font-size:40px;
						color:white;
						text-align: center;
						padding: 0 130px;
					}

					.buysockz:hover .buynowtxt{
						color:#E5E3E0;
					}

					/* Sell & Redeem buttons */

					/*
					.sellredeemDisabled{
						display: flex;
						justify-content: space-between;
						width: 100%;
						padding: 0 73px;
						position: relative;
						bottom: 42px;
						cursor:default;
					} */
					.sellredeemDisabled{
						display: flex;
						justify-content: space-between;
						width: 100%;
						padding: 0 73px;
						position: relative;
						bottom: 42px;
						cursor:default;
						color:grey;
						/* background-color:magenta; */
					}
					.sellredeem{
						display: none;
						justify-content: space-between;
						width: 100%;
						padding: 0 73px;
						position: relative;
						bottom: 42px;
						cursor:default;
						color:white;
						cursor:pointer;
						/* background-color:magenta; */
					}

					.selltxt{
						position:absolute;
						top:10px;
						width:100%;
						font-family: 'Wizards';
						font-size:28px;
						width: 170px;
						text-align: center;
					}

					#sellowns{
						display:block
					}
					#sellownshover{
						display:none;
					}

					.sell:hover #sellowns{
						display:none
					}
					.sell:hover #sellownshover{
						display:block;
					}

					#redeemowns{
						display:block
					}
					#redeemownshover{
						display:none;
					}

					.redeeming:hover #redeemowns{
						display:none
					}
					.redeeming:hover #redeemownshover{
						display:block;
					}

			/* info modal */

			.infoModalWrap{
				position:absolute;
				display:none;
				height:100%;
				width:100%;
				z-index: 40;
				background-color:rgb(7, 20, 37,0.9);


			}
			.infotransition{
				position: relative;
				transition: margin .5s ease;
				margin-top: 1560px;
			}

			.infomodal{
				display: flex;
				flex-direction: column;
				z-index: 30;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				/* background-color: pink; */
				transition: margin-top .3s ease;
				margin-top: 130px;
				padding-bottom:60px;

			}

			.goback{
				position: absolute;
				top: -21px;
				right: -25px;
				cursor:pointer;
			}

			.infoParagraph{
				height:160px;
				width:456px;
				/* background-color:	pink */
				font-family: 'Comic Neue';

			}

			.infoText{
				position: absolute;
				display: flex;
				flex-direction: column;
				height: 790px;
				justify-content: space-between;
				top: 80px;
				left: 85px;
				color:white;
				word-wrap: break-word
			}
			.infoTitle{
				font-size:26px;
				padding-bottom:10px;
			}
			.infoBody{
				font-size:19px;
				opacity:.6;
				font-weight: lighter;
			}

			.infoButtons{
				position:absolute;
				bottom: 100px;
				left: 61px;
			}
			.buybuy{
				height:60px;
				width:470px;
				padding-bottom:100px
			}

			.twitterOS{
				height:50px;
				width:430px;
				display: flex;
				justify-content: space-evenly;
				width: 100%;
				position: relative;
				bottom: 42px;
				cursor:pointer;
				color:white;
			}
			.buysockzinfo{
				display: flex;
				bottom: -46px;
				justify-content: center;
				width: 100%;
				cursor:pointer;
				height:88px;
				width:101%;

				bottom: 42px;
				position: relative;
			}

			/* buy now hover */

			.buysockzinfo img:nth-child(1){
				display:block
			}

			.buysockzinfo img:nth-child(2){
				display:none;
				position: relative;
				height: 117.1%;
				width: 96.4%;
				bottom: -1px;
			}

			.buysockzinfo:hover img:nth-child(1){
				display:none
			}

			.buysockzinfo:hover img:nth-child(2){
				display:block;
			}

			.selltxt:hover{
				opacity:0.5;
			}

		@media only screen and (max-width: 1800px) {

			.xxlMidBoard{
				width:25%;
			}
		}

		@media only screen and (max-width: 1400px) {


						.xxlMidBoard{
							/* width:20%; */
							display:none
						}

		}
		@media only screen and (max-width: 1200px) {
			.skullyWrap{
				display:none;
			}
			.brainyfrog{
				display:none;
			}
		}
